[Desktop Entry]

Type=Application
Version=1.0

Name=Install Void Linux
Name[ar]=تثبيت Void Linux
Name[ast]=Instalar Void Linux
Name[bn]=Void Linux ইনস্টল করুন
Name[ca]=Instal·lar Void Linux
Name[cs]=Nainstalovat Void Linux
Name[da]=Installer Void Linux
Name[el]=Εγκατάσταση Void Linux
Name[es]=Instalar Void Linux
Name[et]=Paigalda Void Linux
Name[fa]=نصب Void Linux
Name[fi]=Asenna Void Linux
Name[fr]=Installer Void Linux
Name[gl]=Instalar Void Linux
Name[he]=התקנת Void Linux
Name[hr]=Instaliraj Void Linux
Name[hu]=Void Linux telepítése
Name[it]=Installa Void Linux
Name[ja]=Void Linux をインストール
Name[ko]=Void Linux 설치
Name[ku]=Sazkirina Void Linux
Name[lt]=Įdiegti Void Linux
Name[nb]=Installer Void Linux
Name[nl]=Void Linux installeren
Name[nn]=Installer Void Linux
Name[no]=Installer Void Linux
Name[pl]=Zainstaluj Void Linux
Name[pt]=Instalar Void Linux
Name[pt_BR]=Instalar Void Linux
Name[ro]=Instalează Void Linux
Name[ru]=Установить Void Linux
Name[sk]=Nainštalovať Void Linux
Name[sl]=Namesti Void Linux
Name[sv]=Installera Void Linux
Name[tr]=Void Linux'u Kur
Name[ug]=Void Linux نى ئورنىتىش
Name[uk]=Встановити Void Linux
Name[vi]=Cài đặt Void Linux
Name[zh_CN]=安装 Void Linux
Name[zh_TW]=安裝 Void Linux

Comment=Void Linux installer
Comment[ar]=مثبّت Void Linux
Comment[ast]=Instalador de Void Linux
Comment[bn]=Void Linux ইনস্টলার।
Comment[ca]=Instal·lador de Void Linux
Comment[cs]=Instalátor Void Linux
Comment[da]=Void Linux-installationsprogram
Comment[de]=Void-Linux-Installationsprogramm
Comment[el]=Πρόγραμμα εγκατάστασης του Void Linux
Comment[es]=Instalador de Void Linux
Comment[et]=Void Linuxi paigaldusprogramm
Comment[fa]=نصب‌کننده Void Linux
Comment[fi]=Void Linux -asennusohjelma
Comment[fr]=Programme d'installation de Void Linux
Comment[gl]=Instalador de Void Linux
Comment[he]=תוכנית ההתקנה של Void Linux
Comment[hr]=Instalacijski program za Void Linux
Comment[hu]=Void Linux telepítő
Comment[it]=Programma di installazione di Void Linux
Comment[ja]=Void Linux インストーラー
Comment[ko]=Void Linux 설치 프로그램
Comment[ku]=Sazkera Void Linuxê
Comment[lt]=Void Linux diegimo programa
Comment[nb]=Installasjonsprogram for Void Linux
Comment[nl]=Installatieprogramma voor Void Linux
Comment[nn]=Installasjonsprogram for Void Linux
Comment[no]=Installasjonsprogram for Void Linux
Comment[pl]=Instalator Void Linux
Comment[pt]=Instalador do Void Linux
Comment[pt_BR]=Instalador do Void Linux
Comment[ro]=Programul de instalare Void Linux
Comment[ru]=Установщик Void Linux
Comment[sk]=Inštalátor Void Linux
Comment[sl]=Namestitveni program za Void Linux
Comment[sv]=Installationsprogram för Void Linux
Comment[tr]=Void Linux yükleyicisi
Comment[ug]=Void Linux ئورنىتىش پروگراممىسى
Comment[uk]=Встановлювач Void Linux
Comment[vi]=Trình cài đặt Void Linux
Comment[zh_CN]=Void Linux 安装程序
Comment[zh_TW]=Void Linux 安裝程式

GenericName=Install Void Linux
GenericName[ar]=تثبيت Void Linux
GenericName[ast]=Instalar Void Linux
GenericName[bn]=Void Linux ইনস্টল করুন
GenericName[ca]=Instal·lar Void Linux
GenericName[cs]=Nainstalovat Void Linux
GenericName[da]=Installer Void Linux
GenericName[el]=Εγκατάσταση Void Linux
GenericName[es]=Instalar Void Linux
GenericName[et]=Paigalda Void Linux
GenericName[fa]=نصب Void Linux
GenericName[fi]=Asenna Void Linux
GenericName[fr]=Installer Void Linux
GenericName[gl]=Instalar Void Linux
GenericName[he]=התקנת Void Linux
GenericName[hr]=Instaliraj Void Linux
GenericName[hu]=Void Linux telepítése
GenericName[it]=Installa Void Linux
GenericName[ja]=Void Linux をインストール
GenericName[ko]=Void Linux 설치
GenericName[ku]=Sazkirina Void Linux
GenericName[lt]=Įdiegti Void Linux
GenericName[nb]=Installer Void Linux
GenericName[nl]=Void Linux installeren
GenericName[nn]=Installer Void Linux
GenericName[no]=Installer Void Linux
GenericName[pl]=Zainstaluj Void Linux
GenericName[pt]=Instalar Void Linux
GenericName[pt_BR]=Instalar Void Linux
GenericName[ro]=Instalează Void Linux
GenericName[ru]=Установить Void Linux
GenericName[sk]=Nainštalovať Void Linux
GenericName[sl]=Namesti Void Linux
GenericName[sv]=Installera Void Linux
GenericName[tr]=Void Linux'u Kur
GenericName[ug]=Void Linux نى ئورنىتىش
GenericName[uk]=Встановити Void Linux
GenericName[vi]=Cài đặt Void Linux
GenericName[zh_CN]=安装 Void Linux
GenericName[zh_TW]=安裝 Void Linux

Exec=xfce4-terminal --command=/usr/bin/void-install-pkexec

Icon=/usr/share/icons/hicolor/scalable/apps/void-logo.svg

Keywords=system;installer;install;installation
Keywords[ar]=نظام;مثبت;تثبيت;تثبيت النظام
Keywords[ast]=sistema;instalador;instalar;instalación
Keywords[bn]=সিস্টেম;ইনস্টলার;ইনস্টল;ইনস্টলেশন
Keywords[ca]=sistema;instal·lador;instal·lar;instal·lació
Keywords[cs]=systém;instalátor;instalovat;instalace
Keywords[da]=system;installationsprogram;installere;installation
Keywords[de]=system;installationsprogramm;installieren;installation
Keywords[el]=σύστημα;εγκαταστάτης;εγκατάσταση
Keywords[es]=sistema;instalador;instalar;instalación
Keywords[fi]=järjestelmä;asennusohjelma;asentaa;asennus
Keywords[fr]=système;installateur;installer;installation
Keywords[he]=מערכת;מתקין;התקנה;התקנת מערכת
Keywords[hr]=sustav;instalacijski program;instalirati;instalacija
Keywords[hu]=rendszer;telepítő;telepítés
Keywords[it]=sistema;installatore;installare;installazione
Keywords[is]=kerfi;uppsetningarforrit;setja upp;uppsetning
Keywords[ja]=システム;インストーラー;インストール;セットアップ
Keywords[nb]=system;installasjonsprogram;installere;installasjon
Keywords[nl]=systeem;installatieprogramma;installeren;installatie
Keywords[pt]=sistema;instalador;instalar;instalação
Keywords[pt_BR]=sistema;instalador;instalar;instalação
Keywords[ru]=система;установщик;установить;установка
Keywords[sk]=systém;inštalátor;inštalovať;inštalácia
Keywords[sl]=sistem;namestitveni program;namestiti;namestitev
Keywords[tr]=sistem;yükleyici;kur;kurulum
Keywords[uk]=система;встановлювач;встановити;встановлення
Keywords[vi]=hệ thống;trình cài đặt;cài đặt
Keywords[zh_CN]=系统;安装程序;安装;安装工具
Keywords[zh_TW]=系統;安裝程式;安裝;安裝工具

Terminal=false
StartupNotify=true
Categories=Settings;System;X-VoidBR-Apps;

