[Desktop Entry]
Type=Application
Version=1.0

Name=VoidBR
Name[ar]=VoidBR
Name[ast]=VoidBR
Name[bn]=VoidBR
Name[ca]=VoidBR
Name[cs]=VoidBR
Name[da]=VoidBR
Name[el]=VoidBR
Name[es]=VoidBR
Name[et]=VoidBR
Name[fa]=VoidBR
Name[fi]=VoidBR
Name[fr]=VoidBR
Name[gl]=VoidBR
Name[he]=VoidBR
Name[hr]=VoidBR
Name[hu]=VoidBR
Name[it]=VoidBR
Name[ja]=VoidBR
Name[ko]=VoidBR
Name[ku]=VoidBR
Name[lt]=VoidBR
Name[nb]=VoidBR
Name[nl]=VoidBR
Name[nn]=VoidBR
Name[no]=VoidBR
Name[pl]=VoidBR
Name[pt]=VoidBR
Name[pt_BR]=VoidBR
Name[ro]=VoidBR
Name[ru]=VoidBR
Name[sk]=VoidBR
Name[sl]=VoidBR
Name[sv]=VoidBR
Name[tr]=VoidBR
Name[ug]=VoidBR
Name[uk]=VoidBR
Name[vi]=VoidBR
Name[zh_CN]=VoidBR
Name[zh_TW]=VoidBR

Comment=Void Linux community in Brazil.
Comment[ar]=مجتمع Void Linux في البرازيل.
Comment[ast]=Comunidá de Void Linux en Brasil.
Comment[bn]=ব্রাজিলে Void Linux সম্প্রদায়।
Comment[ca]=Comunitat de Void Linux al Brasil.
Comment[cs]=Komunita Void Linux v Brazílii.
Comment[da]=Void Linux-fællesskabet i Brasilien.
Comment[de]=Void-Linux-Community in Brasilien.
Comment[el]=Η κοινότητα του Void Linux στη Βραζιλία.
Comment[es]=Comunidad de Void Linux en Brasil.
Comment[et]=Void Linuxi kogukond Brasiilias.
Comment[fa]=جامعه Void Linux در برزیل.
Comment[fi]=Void Linux -yhteisö Brasiliassa.
Comment[fr]=Communauté Void Linux au Brésil.
Comment[gl]=Comunidade de Void Linux no Brasil.
Comment[he]=קהילת Void Linux בברזיל.
Comment[hr]=Void Linux zajednica u Brazilu.
Comment[hu]=A Void Linux közössége Brazíliában.
Comment[it]=Comunità di Void Linux in Brasile.
Comment[ja]=ブラジルのVoid Linuxコミュニティ。
Comment[ko]=브라질의 Void Linux 커뮤니티.
Comment[ku]=Civata Void Linuxê li Brezîlyayê.
Comment[lt]=Void Linux bendruomenė Brazilijoje.
Comment[nb]=Void Linux-fellesskapet i Brasil.
Comment[nl]=Void Linux-gemeenschap in Brazilië.
Comment[nn]=Void Linux-fellesskapet i Brasil.
Comment[no]=Void Linux-fellesskapet i Brasil.
Comment[pl]=Społeczność Void Linux w Brazylii.
Comment[pt]=Comunidade Void Linux no Brasil.
Comment[pt_BR]=VoidBR - Comunidade Void Linux no Brasil.
Comment[ro]=Comunitatea Void Linux din Brazilia.
Comment[ru]=Сообщество Void Linux в Бразилии.
Comment[sk]=Komunita Void Linux v Brazílii.
Comment[sl]=Skupnost Void Linux v Braziliji.
Comment[sv]=Void Linux-gemenskapen i Brasilien.
Comment[tr]=Brezilya'daki Void Linux topluluğu.
Comment[ug]=بىرازىلىيەدىكى Void Linux جەمئىيىتى.
Comment[uk]=Спільнота Void Linux у Бразилії.
Comment[vi]=Cộng đồng Void Linux tại Brazil.
Comment[zh_CN]=巴西的 Void Linux 社区。
Comment[zh_TW]=巴西的 Void Linux 社群。

GenericName=VoidBR
GenericName[ar]=VoidBR
GenericName[ast]=VoidBR
GenericName[bn]=VoidBR
GenericName[ca]=VoidBR
GenericName[cs]=VoidBR
GenericName[da]=VoidBR
GenericName[el]=VoidBR
GenericName[es]=VoidBR
GenericName[et]=VoidBR
GenericName[fa]=VoidBR
GenericName[fi]=VoidBR
GenericName[fr]=VoidBR
GenericName[gl]=VoidBR
GenericName[he]=VoidBR
GenericName[hr]=VoidBR
GenericName[hu]=VoidBR
GenericName[it]=VoidBR
GenericName[ja]=VoidBR
GenericName[ko]=VoidBR
GenericName[ku]=VoidBR
GenericName[lt]=VoidBR
GenericName[nb]=VoidBR
GenericName[nl]=VoidBR
GenericName[nn]=VoidBR
GenericName[no]=VoidBR
GenericName[pl]=VoidBR
GenericName[pt]=VoidBR
GenericName[pt_BR]=VoidBR
GenericName[ro]=VoidBR
GenericName[ru]=VoidBR
GenericName[sk]=VoidBR
GenericName[sl]=VoidBR
GenericName[sv]=VoidBR
GenericName[tr]=VoidBR
GenericName[ug]=VoidBR
GenericName[uk]=VoidBR
GenericName[vi]=VoidBR
GenericName[zh_CN]=VoidBR
GenericName[zh_TW]=VoidBR

Exec=xdg-open "https://www.voidbr.org"

Icon=/usr/share/pixmaps/voidbr-site.png

Keywords=void;voidbr;iso;github;download;mirrors;repositorios;
Keywords[ar]=void;voidbr;iso;github;تنزيل;مرايا;مستودعات;
Keywords[ast]=void;voidbr;iso;github;descarga;espeyos;repositorios;
Keywords[bn]=void;voidbr;iso;github;ডাউনলোড;মিরর;রিপোজিটরি;
Keywords[ca]=void;voidbr;iso;github;baixada;miralls;repositoris;
Keywords[cs]=void;voidbr;iso;github;stažení;zrcadla;repozitáře;
Keywords[da]=void;voidbr;iso;github;download;spejle;arkiver;
Keywords[de]=void;voidbr;iso;github;download;spiegel;repos;
Keywords[el]=void;voidbr;iso;github;λήψη;καθρέφτες;αποθετήρια;
Keywords[es]=void;voidbr;iso;github;descarga;espejos;repositorios;
Keywords[fi]=void;voidbr;iso;github;lataus;peilit;pakettivarastot;
Keywords[fr]=void;voidbr;iso;github;téléchargement;miroirs;dépôts;
Keywords[he]=void;voidbr;iso;github;הורדה;מראות;מאגרי תוכנה;
Keywords[hr]=void;voidbr;iso;github;preuzimanje;zrcala;repozitoriji;
Keywords[hu]=void;voidbr;iso;github;letöltés;tükrök;tárolók;
Keywords[it]=void;voidbr;iso;github;download;mirror;repository;
Keywords[is]=void;voidbr;iso;github;niðurhal;speglar;geymslur;
Keywords[ja]=void;voidbr;iso;github;ダウンロード;ミラー;リポジトリ;
Keywords[nb]=void;voidbr;iso;github;nedlasting;speil;arkiver;
Keywords[nl]=void;voidbr;iso;github;download;spiegels;repositories;
Keywords[nn]=void;voidbr;iso;github;nedlasting;speglar;arkiv;
Keywords[pt]=void;voidbr;iso;github;download;espelhos;repositórios;
Keywords[pt_BR]=void;voidbr;iso;github;download;espelhos;repositórios;
Keywords[ru]=void;voidbr;iso;github;скачивание;зеркала;репозитории;
Keywords[sk]=void;voidbr;iso;github;stiahnutie;zrkadlá;repozitáre;
Keywords[sl]=void;voidbr;iso;github;prenos;zrcala;repozitoriji;
Keywords[tr]=void;voidbr;iso;github;indirme;yansılar;depolar;
Keywords[uk]=void;voidbr;iso;github;завантаження;дзеркала;репозиторії;
Keywords[vi]=void;voidbr;iso;github;tải xuống;mirror;kho lưu trữ;
Keywords[zh_CN]=void;voidbr;iso;github;下载;镜像;仓库;
Keywords[zh_TW]=void;voidbr;iso;github;下載;鏡像;儲存庫;

Terminal=false
StartupNotify=true
Categories=Network;

