[Desktop Entry]

Type=Application
Version=1.0

Name=Configure VoidBR
Name[ar]=إعداد VoidBR
Name[ast]=Configura VoidBR
Name[bn]=VoidBR কনফিগার করুন
Name[ca]=Configura VoidBR
Name[cs]=Nastavit VoidBR
Name[da]=Konfigurer VoidBR
Name[el]=Ρύθμιση VoidBR
Name[es]=Configurar VoidBR
Name[et]=Seadista VoidBR
Name[fa]=پیکربندی VoidBR
Name[fi]=Määritä VoidBR
Name[fr]=Configurer VoidBR
Name[gl]=Configurar VoidBR
Name[he]=הגדרת VoidBR
Name[hr]=Konfiguriraj VoidBR
Name[hu]=VoidBR beállítása
Name[it]=Configura VoidBR
Name[ja]=VoidBR を設定
Name[ko]=VoidBR 설정
Name[ku]=Veavakirina VoidBR
Name[lt]=Konfigūruoti VoidBR
Name[nb]=Konfigurer VoidBR
Name[nl]=VoidBR configureren
Name[nn]=Konfigurer VoidBR
Name[no]=Konfigurer VoidBR
Name[pl]=Konfiguruj VoidBR
Name[pt]=Configurar VoidBR
Name[pt_BR]=Configura VoidBR
Name[ro]=Configurează VoidBR
Name[ru]=Настроить VoidBR
Name[sk]=Nastaviť VoidBR
Name[sl]=Nastavi VoidBR
Name[sv]=Konfigurera VoidBR
Name[tr]=VoidBR'yi Yapılandır
Name[ug]=VoidBR نى سەپلەش
Name[uk]=Налаштувати VoidBR
Name[vi]=Cấu hình VoidBR
Name[zh_CN]=配置 VoidBR
Name[zh_TW]=設定 VoidBR

Comment=Configure the VoidBR system
Comment[ar]=إعداد نظام VoidBR
Comment[ast]=Configura'l sistema VoidBR
Comment[bn]=VoidBR সিস্টেম কনফিগার করুন
Comment[ca]=Configura el sistema VoidBR
Comment[cs]=Nastavení systému VoidBR
Comment[da]=Konfigurer VoidBR-systemet
Comment[de]=Das VoidBR-System konfigurieren
Comment[el]=Ρύθμιση του συστήματος VoidBR
Comment[es]=Configurar el sistema VoidBR
Comment[et]=VoidBR süsteemi seadistamine
Comment[fa]=پیکربندی سیستم VoidBR
Comment[fi]=Määritä VoidBR-järjestelmä
Comment[fr]=Configurer le système VoidBR
Comment[gl]=Configurar o sistema VoidBR
Comment[he]=הגדרת מערכת VoidBR
Comment[hr]=Konfiguriranje sustava VoidBR
Comment[hu]=A VoidBR rendszer beállítása
Comment[it]=Configura il sistema VoidBR
Comment[ja]=VoidBR システムを設定します
Comment[ko]=VoidBR 시스템 구성
Comment[ku]=Sîstema VoidBR veavakirî
Comment[lt]=Konfigūruoti VoidBR sistemą
Comment[nb]=Konfigurer VoidBR-systemet
Comment[nl]=Het VoidBR-systeem configureren
Comment[nn]=Konfigurer VoidBR-systemet
Comment[no]=Konfigurer VoidBR-systemet
Comment[pl]=Konfiguracja systemu VoidBR
Comment[pt]=Configurar o sistema VoidBR
Comment[pt_BR]=Configurar o VoidBR
Comment[ro]=Configurează sistemul VoidBR
Comment[ru]=Настройка системы VoidBR
Comment[sk]=Nastavenie systému VoidBR
Comment[sl]=Nastavitev sistema VoidBR
Comment[sv]=Konfigurera VoidBR-systemet
Comment[tr]=VoidBR sistemini yapılandır
Comment[ug]=VoidBR سىستېمىسىنى سەپلەش
Comment[uk]=Налаштування системи VoidBR
Comment[vi]=Cấu hình hệ thống VoidBR
Comment[zh_CN]=配置 VoidBR 系统
Comment[zh_TW]=設定 VoidBR 系統

GenericName=VoidBR Configuration
GenericName[ar]=إعدادات VoidBR
GenericName[ast]=Configuración de VoidBR
GenericName[bn]=VoidBR কনফিগারেশন
GenericName[ca]=Configuració de VoidBR
GenericName[cs]=Konfigurace VoidBR
GenericName[da]=VoidBR-konfiguration
GenericName[el]=Ρύθμιση VoidBR
GenericName[es]=Configuración de VoidBR
GenericName[et]=VoidBR seadistamine
GenericName[fa]=پیکربندی VoidBR
GenericName[fi]=VoidBR-määritykset
GenericName[fr]=Configuration de VoidBR
GenericName[gl]=Configuración de VoidBR
GenericName[he]=תצורת VoidBR
GenericName[hr]=Konfiguracija VoidBR-a
GenericName[hu]=VoidBR beállítása
GenericName[it]=Configurazione di VoidBR
GenericName[ja]=VoidBR の設定
GenericName[ko]=VoidBR 구성
GenericName[ku]=Veavakirina VoidBR
GenericName[lt]=VoidBR konfigūracija
GenericName[nb]=VoidBR-konfigurasjon
GenericName[nl]=VoidBR-configuratie
GenericName[nn]=VoidBR-konfigurasjon
GenericName[no]=VoidBR-konfigurasjon
GenericName[pl]=Konfiguracja VoidBR
GenericName[pt]=Configuração do VoidBR
GenericName[pt_BR]=Configuração do VoidBR
GenericName[ro]=Configurare VoidBR
GenericName[ru]=Конфигурация VoidBR
GenericName[sk]=Konfigurácia VoidBR
GenericName[sl]=Konfiguracija VoidBR
GenericName[sv]=VoidBR-konfiguration
GenericName[tr]=VoidBR Yapılandırması
GenericName[ug]=VoidBR سەپلىمىسى
GenericName[uk]=Конфігурація VoidBR
GenericName[vi]=Cấu hình VoidBR
GenericName[zh_CN]=VoidBR 配置
GenericName[zh_TW]=VoidBR 設定

# Exec=foot -e voidbr-setup.sh

Exec=pkexec /usr/local/bin/voidbr-setup.sh

Icon=/usr/share/pixmaps/voidbr-site.png

Keywords=voidbr;setup;configuration;system;
Keywords[ar]=voidbr;إعداد;تهيئة;نظام;
Keywords[ast]=voidbr;configuración;sistema;configurar;
Keywords[bn]=voidbr;সেটআপ;কনফিগারেশন;সিস্টেম;
Keywords[ca]=voidbr;configuració;sistema;configurar;
Keywords[cs]=voidbr;nastavení;konfigurace;systém;
Keywords[da]=voidbr;opsætning;konfiguration;system;
Keywords[de]=voidbr;einrichtung;konfiguration;system;
Keywords[el]=voidbr;ρύθμιση;διαμόρφωση;σύστημα;
Keywords[es]=voidbr;configuración;configurar;sistema;
Keywords[et]=voidbr;seadistus;konfiguratsioon;süsteem;
Keywords[fa]=voidbr;راه‌اندازی;پیکربندی;سیستم;
Keywords[fi]=voidbr;asennus;määrittely;järjestelmä;
Keywords[fr]=voidbr;configuration;configurer;système;
Keywords[gl]=voidbr;configuración;sistema;configurar;
Keywords[he]=voidbr;הגדרה;תצורה;מערכת;
Keywords[hr]=voidbr;postavljanje;konfiguracija;sustav;
Keywords[hu]=voidbr;beállítás;konfiguráció;rendszer;
Keywords[it]=voidbr;configurazione;impostazioni;sistema;
Keywords[is]=voidbr;uppsetning;stillingar;kerfi;
Keywords[ja]=voidbr;セットアップ;設定;システム;
Keywords[nb]=voidbr;oppsett;konfigurasjon;system;
Keywords[nl]=voidbr;instellen;configuratie;systeem;
Keywords[nn]=voidbr;oppsett;konfigurasjon;system;
Keywords[no]=voidbr;oppsett;konfigurasjon;system;
Keywords[pl]=voidbr;konfiguracja;ustawienia;system;
Keywords[pt]=voidbr;configuração;configurar;sistema;
Keywords[pt_BR]=voidbr;setup;configurar;configuracao;sistema;conf;
Keywords[ro]=voidbr;configurare;setări;sistem;
Keywords[ru]=voidbr;настройка;конфигурация;система;
Keywords[sk]=voidbr;nastavenie;konfigurácia;systém;
Keywords[sl]=voidbr;nastavitev;konfiguracija;sistem;
Keywords[sv]=voidbr;inställning;konfiguration;system;
Keywords[tr]=voidbr;kurulum;yapılandırma;sistem;
Keywords[ug]=voidbr;سەپلەش;سەپلىمە;سىستېما;
Keywords[uk]=voidbr;налаштування;конфігурація;система;
Keywords[vi]=voidbr;cài đặt;cấu hình;hệ thống;
Keywords[zh_CN]=voidbr;设置;配置;系统;
Keywords[zh_TW]=voidbr;設定;配置;系統;

Terminal=true

StartupNotify=true

Categories=System;X-VoidBR-Apps;
